<main class="page-container">
  <app-generic-table
    (addRow)="openNewExamDrawer()"
    (deleteRow)="deleteRow($event)"
    (selectedRowChange)="selectedRowChange($event)"
    [columnDefs]="columnDefinitions"
    [data]="filteredExams"
    [pageSizeOptions]="[5, 10]"
    [selectedRowId]="selectedRowId"
    [title]="'Exams'"
  >
    <div class="flex-row full-width flex-align-center flex-justify-between">
      <div class="flex-row flex-align-center flex-1">
        <div class="mat-h4 color-white mb-0 filter-label">Filter by:</div>
        @if (this.unFilteredExams.length) {
          <app-dynamic-filter
            (filteredData)="setFilteredData($event)"
            [columnsConfig]="dynamicFilterConfig"
            [data]="unFilteredExams"
            [initialFilters]="dynamicFilterInitialValues"
          ></app-dynamic-filter>
        }
      </div>
    </div>
  </app-generic-table>
</main>
<div
  [ngClass]="
    (selectedStudent$ | async) || (showNewExamForm$ | async) ? 'show' : 'hide'
  "
  class="drawer-container"
>
  <app-exam-form
    (closeDrawer)="closeExamDrawer()"
    [initialExamData$]="selectedStudent$"
  ></app-exam-form>
</div>
