@import "./../../assets/styles/variables.scss";

:host {
  display: flex;
  height: 100%;
}

.drawer-container {
  width: 0;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  background: $gray-dark;
  transition: width 0.15s ease-in-out;
  &.show {
    width: 400px;
  }
}

.projected-controls {
  padding: 0 1rem;
  border: 1px solid red;
}
