  <mat-sidenav-container [hasBackdrop]="false" class="drawer-container">
    <main class="page-container">

    <mat-sidenav position="end" mode="push" [opened]="!!selectedRowId"  class="side-nav" >

      xxxsssss
    </mat-sidenav>



  <app-generic-table
    [columnDefs]="columnDefinitions"
    [data]="displayData"
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    [selectedRowId]="selectedRowId"
    (selectedRowChange)="selectedRowChange($event)"
  >
  </app-generic-table>
    </main>

  </mat-sidenav-container>
