:host {
  display: flex;
  height: 100%;
}
.drawer-container {
  width: 0;
  overflow: auto;
  scrollbar-gutter: stable;
  background: #3b4252;
  transition: width 0.15s ease-in-out;
  &.show {
    width: 400px;
  }
}
