<main class="page-container">
  <app-generic-table
    [columnDefs]="columnDefinitions"
    [data]="displayData"
    (addRow)="openNewExamDrawer()"
    (deleteRow)="deleteRow($event)"
    [pageSizeOptions]="[5, 10]"
    [selectedRowId]="selectedRowId"
    (selectedRowChange)="selectedRowChange($event)"
  >
  </app-generic-table>
</main>
<div
  class="drawer-container"
  [ngClass]="
    (selectedStudent$ | async) || (showNewExamForm$ | async) ? 'show' : 'hide'
  "
>
  <app-exam-form
    [initialExamData$]="selectedStudent$"
    (closeDrawer)="closeExamDrawer()"
  ></app-exam-form>
</div>
