:host {
  flex: 1;
  height: 100%;
}
.table-row {
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  &.hover-row {
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
  &.success-row {
    background-color: rgba(0, 255, 0, 0.1);
  }
  &.danger-row {
    background-color: rgba(255, 0, 0, 0.1);
  }
  &.selected-row {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.mat-mdc-no-data-row {
  padding: 1rem;
}
