<div class="mat-h2 color-white">{{ title }}</div>
<div class="mat-elevation-z8 flex-1">
  <div class="controls flex-row flex-justify-end">
    <ng-content></ng-content>
    @if (!displayOnly) {
      <div class="flex-row">
        <button
          mat-icon-button
          color="accent"
          aria-label="Add Row button"
          (click)="onNewRowClicked()"
          [disabled]="!!selectedRowId"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Delete Row button"
          (click)="onDeleteRowClicked(selectedRowId)"
          [disabled]="!selectedRowId"
        >
          <mat-icon>delete_outlined</mat-icon>
        </button>
      </div>
    }
  </div>

  <table [dataSource]="dataSource" class="full-width-table" mat-table matSort>
    <ng-container *ngFor="let def of columnDefs" [matColumnDef]="def.colId">
      <th
        *matHeaderCellDef
        [mat-sort-header]="def.sortable ? def.colId : ''"
        mat-header-cell
      >
        {{ def.header }}
      </th>
      <td *matCellDef="let row" mat-cell>{{ row[def.colId] }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      (click)="onRowClicked(row)"
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ 'selected-row': row.id === selectedRowId }"
      class="table-row"
      mat-row
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  ></mat-paginator>
</div>
