:host {
  flex: 1;
  height: 100%;
}
.table-row {
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  &.selected-row {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.controls {
  height: 3rem;
  padding: 0.5rem;
  background: #66686b;
  border-radius: 4px 4px 0 0;
}
