.controls {
  margin-top: 5rem;
}

.form-container {
  padding: 1rem 1rem 2rem 2rem;
  overflow-y: auto;
  overflow-x: auto;
  transition: width 0.15s ease-in-out;
  gap: 0.5rem;
}

.form-field {
  width: 20rem;
  &.short {
    width: 9.5rem;
  }
}
