<div class="page-container analysis-container">
  <!--  Visible charts container-->
  <div class="visible-container">
    <div
      #visibleList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[hiddenList]"
      [cdkDropListData]="{ items: visible, containerName: 'visible' }"
      cdkDropList
      cdkDropListOrientation="horizontal"
      class="visible-list"
    >
      @for (item of visible; track item) {
        <div class="visible-box" cdkDrag>
          <!--          Render a dynamic component instead of the standard string-->
          <ng-container
            *ngTemplateOutlet="
              dynamicComponent;
              context: { $implicit: getComponent(item), examsData: examsData }
            "
          ></ng-container>
          <div *cdkDragPreview class="cdk-drag-preview">{{ item }}</div>
        </div>
      }
    </div>
  </div>

  <!--  Hidden chart container-->
  <div class="hidden-container">
    <div
      #hiddenList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[visibleList]"
      [cdkDropListData]="{ items: hidden, containerName: 'hidden' }"
      cdkDropList
      class="hidden-list"
    >
      @for (item of hidden; track item) {
        <div class="hidden-box" cdkDrag>{{ item }}</div>
      }
    </div>
  </div>

  <!--  Dynamic component template-->
  <ng-template #dynamicComponent let-componentType>
    <ng-container *ngComponentOutlet="componentType"></ng-container>
  </ng-template>
</div>
