@import "assets/styles/flex-helpers";
@import "assets/styles/mixins";
html,
body {
  background: rgb(37, 37, 37);
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  height: 100vh;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  //border: 3px solid red;
  padding: 6rem 2rem 3rem 2rem;
  flex: 1;
}

.color-white {
  color: white;
}

@include margin-bottom-classes(1-4);
