@import "./assets/styles/flex-helpers";
@import "./assets/styles/mixins";
@import "./assets/styles/variables";
html,
body {
  background: $gray-darker;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  height: 100vh;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  //border: 3px solid red;
  padding: 6rem 2rem 3rem 2rem;
  flex: 1;
}

.color-white {
  color: white;
}

@include margin-bottom-classes(1-4);

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.ph {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ph-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

// for projected content
.control-bar {
  &.controls {
    height: 5.5rem;
    background: $gray-dark;
    border-radius: 4px;
    padding: 0 2rem;
    z-index: 10;
    .filter-label {
      margin-right: 1rem;
    }
    .select {
      width: 16rem;
      margin-right: 2rem;
    }
  }
  &.flat-bottom {
    border-radius: 4px 4px 0 0;
  }
}
