// generate flex classes - ie flex-1: 1rem
@mixin flex-classes($start: 1, $end: 5) {
  @for $i from $start through $end {
    .flex-#{$i} {
      flex: $i;
    }
  }
}

@mixin flex-gap($start: 1, $end: 5) {
  @for $i from $start through $end {
    .gap-#{$i} {
      gap: #{$i}rem;
    }
  }
}

@mixin margin-bottom-classes($start: 1, $end: 5) {
  @for $i from $start through $end {
    .mb-#{$i} {
      margin-bottom: #{$i}rem;
    }
  }
}
