<mat-toolbar class="mat-elevation-z3 header-container" color="primary">
  <div class="flex-row flex-align-baseline full-width">
    <div class=" ">Students</div>
    <div class="flex-grow"></div>
    <nav>
      <a
        [routerLink]="'/data'"
        class="link"
        mat-button
        routerLinkActive="active-link"
      >
        Data
      </a>
      <a
        [routerLink]="'/analysis'"
        class="link"
        mat-button
        routerLinkActive="active-link"
      >
        Analysis
      </a>
      <a
        [routerLink]="'/monitor'"
        class="link"
        mat-button
        routerLinkActive="active-link"
      >
        Monitor
      </a>
    </nav>
  </div>
</mat-toolbar>
