<mat-toolbar color="primary"  class="mat-elevation-z3">
<div class="flex-row flex-align-baseline full-width">
    <div class=" ">Students</div>
    <div class="flex-grow"></div>
    <nav>
      <a mat-button [routerLink]="'/data'" class="link" routerLinkActive = "active-link"> Data </a>
      <a mat-button [routerLink]="'/analysis'" class="link" routerLinkActive = "active-link"> Analysis </a>
      <a mat-button [routerLink]="'/monitor'" class="link" routerLinkActive = "active-link"> Monitor </a>
    </nav>
</div>
</mat-toolbar>
